apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: "{{ .Release.Name }}"
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: "{{ .Release.Name }}"
spec:
  descriptor:
    type: Wordpress
    versions: '6'
  selector:
    matchLabels:
      app.kubernetes.io/name: "{{ .Release.Name }}"
